:root {
    --verde-oliva: #556B2F;
    --dourado-suave: #C5A880;
    --off-white: #F9F6F1;
    --marrom-madeira: #8B5E3C;
    --terracota: #D2996B;

    --fonte-titulo: 'Playfair Display', serif;
    --fonte-texto: 'Lora', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-family: var(--fonte-texto) ;
    background-color: var(--off-white);
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4{
    font-family: var(--fonte-titulo);
    color: var(--marrom-madeira);
    margin-bottom: 0.5em;
}

p{
    margin-bottom: 1em;
}

header{
    background-color: var(--off-white);
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
}

.logo img {
    width: 70px;
    height: auto;
    margin-bottom: auto;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin-bottom: 30px;
}

.menu a{
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: var(--1.1rem);
    color: var(--verde-oliva)
    padding 8px 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.menu a:houver{
    background-color: var(--dourado-suave);
    color:white
}

.titulo-principal{
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    color: var(--marrom-madeira);
    margin-bottom: 10px;
}

.subtitulo-principal{
    font-size: 1.2rem;
    color: var(--terracota);
    margin-bottom: 30px;
}

.botoes-header{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botao{
    background-color: var(--verde-oliva);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte-texto);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao:hover{
    background-color: var(--dourado-suave);
    transform: translateY(-2px);
}

.botao secundario{
    background-color: transparent;
    color: var(--verde-oliva);
    border: 2px solid var(var(--verde-oliva))
}

.botao.secundario:hover {
    background-color: var(--verde-oliva);
    color: white;
}

.pratos-destaque {
    background-color: var(--off-white);
    padding: 60px 20px;
    color: var(--marrom-madeira);
    text-align: center;
}

.pratos-destaque h2{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--verde-oliva);
}

.pratos-destaque .descricao{
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
    color: var(--terracota);
    margin-bottom: 40px;
}

.layout {
    display:flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coluna-esquerda{
    flex:2;
}

.coluna-direita{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 30px
}